
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Lista {
    display: none;
    flex-direction: column;
    margin-bottom: 5rem;

}

.Lista-cancion {
    border: 1px solid black;
    padding: 1rem;
}

.PlayingSong div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2rem;
}

.PlayingSong img{
    width: 15rem;
    margin-bottom: 0.7rem;
}

.Reproductor{
    z-index: 1;
    padding: 1rem 2.5rem;
    -webkit-box-shadow: 12px 15px 32px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 12px 15px 32px 5px rgba(0,0,0,0.25);
    box-shadow: 12px 15px 32px 5px rgba(0,0,0,0.25);
    border-radius: 2.5rem;
}

/* .Reproductor-imagen img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
} */

.CajaBtns {
    display: flex;
    margin: 2rem;
}

.Btn-forBack{
    width: 3rem;
    height: 4rem;
    font-size: 1.5rem;
    border: 0px;
    background-color: transparent
}

.Btn-playPause{
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    border-radius: 4rem;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.AudioControles {
    display: none;
}

.audio-bar {
    width: 100%;
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    bottom: 16rem;
}

.audio-bar-line {
    height: 3px;
    width: 0;
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
}