
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Lista {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

}

.Lista-cancion {
    border: 1px solid black;
    padding: 1rem;
}

.PlayingSong div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2rem;
}

.PlayingSong img{
    width: 15rem;
    margin-bottom: 0.7rem;
}

.CajaBtns {
    display: flex;
    margin: 2rem;
}

.Btn-forBack{
    width: 3rem;
    height: 4rem;
    font-size: 1.5rem;
    border: 0px;
    background-color: transparent
}

.Btn-playPause{
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    border-radius: 4rem;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}
